.addresses-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}


.address-table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.heading {
  text-align: center;
  font-size: 24px;
  color: #2515b0ff;
  margin-bottom: 15px;
}


.address-table {
  width: 100%;
  border-collapse: collapse;
}

.address-table th,
.address-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-header {
  background-color: #2515b0ff;
  color: #fff;
  font-weight: bold;
}

.table-cell {
  background-color: #f9f9f9;
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ff4d4f;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.2);
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: #ff4d4f;
  font-size: 18px;
  font-weight: bold;
}